<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flipping Card</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>


<div id="flashcards-app">
    <div>
        <input v-model="form.question" type="text" placeholder="question"/>
        <input v-model="form.answer" type="text" placeholder="answer"/>
        <br>
        <input v-model="form.history" type="radio" id="history"/>
        <label for="history">History</label>
        <input v-model="form.math" type="radio" id="math"/>
        <label for="math">Math</label>
        <input v-model="form.science" type="radio" id="science"/>
        <label for="science">Science</label>
        <br>
        <button v-on:click="submit">Submit</button>

    </div>

    <div class="card flipped">
        <div class="top history" ></div>
        <div class="side1 " >
            <div v-for="card in cards.slice(0,1)">
                <button @click="card.flipped =!card.flipped"></button>
                <h1 v-if="card.flipped ">{{card.answer}}</h1>
                <h1 v-else>{{card.question}}</h1>

            </div>
        </div>
        <div class="side2 hide">
            <div v-for="card in cards.slice(0,1)">
                <h1>{{card.answer}}</h1>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="top math" ></div>
        <div class="side1" >
            <div v-for="card in cards.slice(1,2)">
                <button @click="card.flipped =!card.flipped"></button>
                <h1 v-if="card.flipped ">{{card.answer}}</h1>
                <h1 v-else>{{card.question}}</h1>
            </div>
        </div>
        <div class="side2 hide">
            <div v-for="card in cards.slice(1,2)">
                <h1>{{card.answer}}</h1>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="top science" ></div>
        <div class="side1 " >
            <div v-for="card in cards.slice(2,3)">
                <button @click="card.flipped =!card.flipped"></button>
                <h1 v-if="card.flipped ">{{card.answer}}</h1>
                <h1 v-else>{{card.question}}</h1>            </div>
        </div>
        <div class="side2 hide">
            <div v-for="card in cards.slice(2,3)">
                <h1>{{card.answer}}</h1>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="app.js"></script>

</body>
</html>

